* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* header */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header figure {
  display: flex;
  padding: 12px 0;
}

header ul {
  display: flex;
  font-size: .7rem;
  height: 100%;
}

header ul li a {
  color: #1C1C1C;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 51px 0;
}

header ul li a:hover,
header ul li a.active {
  color: #0089FA;
  border-bottom: 5px solid #0089FA;
}

/* main */
main {
  background-color: #1C1C1C;
  color: #FFFFFF;
  padding: 40px 10px;
  font-weight: bold;
}

/* footer */

footer .cta {
  background-color: #0089FA;
  height: 155px;
  font-size: .7rem;
}

footer .cta ul {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

footer .cta ul li {
  width: calc(100 / 5);
  display: flex;
  height: 55px;
}

footer .cta ul li img {
  max-width: 50px;
}

footer .cta li a {
  color: #FFFFFF;
  text-transform: uppercase;
  line-height: 55px;
  margin: 0 10px;
}

footer .nav {
  background-image: url('./assets/img/footer-bg.jpg');
  padding: 35px 0 55px 0;
}

footer .nav .container {
  display: flex;
  position: relative;
}

footer .nav .col {
  width: calc(100/9);
}

footer .nav ul {
  margin-right: 25px;
}

footer .nav ul h4 {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 13px 0;
}

footer .nav li a {
  font-size: .8rem;
  color: #959595;
}

footer .nav .logo {
  position: absolute;
  right: 0;
  top: -120px;
}